/* زر الرجوع إلى أعلى */
#scrollToTopBtn {
    position: fixed; /* ثابت دائمًا */
    bottom: 20px; /* مسافة من الأسفل */
    right: 20px; /* مسافة من اليمين */
    background-color: pink; /* لون الخلفية */
    color: white; /* لون النص */
    border: none; /* إزالة الحدود */
    border-radius: 50%; /* شكل دائري */
    width: 50px; /* عرض الزر */
    height: 50px; /* ارتفاع الزر */
    font-size: 20px; /* حجم النص */
    cursor: pointer; /* مؤشر الفأرة */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ظل */
    display: none; /* مخفي في البداية */
    align-items: center;
    justify-content: center;
}

/* عند تمرير الفأرة على الزر */
#scrollToTopBtn:hover {
    background-color: palevioletred;
}
body{
    background-color: bisque;
}
